* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.home-page {
    width: 100%;
    margin-top: 10vh;
}

.main-hero {
    height: 100vh;
    position: relative;
}

.top-content {
    position: absolute;
    top: 8vh;
    left: 15vh;
    display: flex;
    flex-direction: column;
}

.top-content h1 {
    color: maroon;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.top-content h1:hover {
    cursor: default;
}

.top-content h2 {
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid;
}

.top-content h1 span {
    transition: .3s;
}

.top-content h1 span:nth-child(1) {
    margin-left: 0px;
    width: fit-content;
}

.top-content h1 span:nth-child(2) {
    margin-left: 100px;
}

.top-content h1 span:nth-child(3) {
    margin-left: 200px;
}

.top-content h1 span:nth-child(4) {
    margin-left: 300px;
}


.top-content a {
    font-size: 1.8rem;
    color: rgb(213, 250, 5);
    text-decoration: none;
    padding-top: 20px;
    font-weight: 600;
}

.bottom-content {
    position: absolute;
    bottom: 12vh;
    right: 20px;
}

.bottom-content p {
    font-size: 1.1rem;
    font-weight: 300;
    width: 340px;
}


.work-flow {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.work-flow .content {
    margin-left: 100px;
    width: 600px;
    font-size: 1rem;
    font-weight: 300;
}

.content p {
    font-size: 1.1rem;
}

.content h4 {
    line-height: 60px;
    font-size: 1rem;
    color: rgba(69, 69, 70, 0.534);
    font-weight: 400;
}

.content p:last-child {
    margin-top: 20px;
}

.content p:last-child span,
.bottom-content p span {
    background-image: linear-gradient(45deg, maroon, rgba(255, 255, 255, 0.226));
    color: transparent;
    background-clip: text;
}

.main-carousel {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
}


.main-carousel::-webkit-scrollbar {
    background: maroon;
    border-radius: 10px;
    width: 10px;
}

.main-carousel::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    width: 5px;
}

.main-carousel .main-tags h1 {
    min-height: 100px;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.step {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 20px;
    position: relative;
    border-radius: 10px;
}

.step:not(.not):after {
    content: '';
    width: 100px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 105%;
}

.step .top-sect {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-sect img {
    width: 80%;
    height: 70%;
}

.top-content img .not {
    transform: rotate(90deg);
}

.main-step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-step h1 {
    width: 50px;
    height: 50px;
    background: maroon;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.main-step h2 {
    font-weight: 900;
    color: rgba(0, 0, 0, 0.842);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.benefits {
    width: 100%;
    height: 80vh;
    margin-top: 20vh;
    display: flex;
}

.benefits .left {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    position: relative;
}

.benefits .right {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.left p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 60px;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 50px;
}

.tab-inactive {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.tab-active {
    color: maroon;
    font-size: 1.6rem;
    font-weight: 900;
    cursor: pointer;
    transition: .2s;
}

.right-main {
    width: 100%;
    height: 100%;
    transition: .3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-main p {
    width: 300px;
    line-height: normal;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.8);
}

.right .content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-left: 20px;
}

.right-main .content h1 {
    font-size: 3rem;
    color: maroon;
}

.right section img {
    width: 450px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.right-main .content p {
    font-weight: 300;
    width: 500px;
    margin-top: 20px;
}

.right-main .content h3 {
    font-weight: 400;
    margin-top: 30px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
}

.right-main .feature-step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.right-main .feature-step span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: maroon;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
}

.right-main .feature-step h5 {
    font-size: 1rem;
    font-weight: 300;
}

.integrations {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-integrarions {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.integrations p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(137, 43, 226, 0.541);
    margin-bottom: 30px;
}

.main-integrarions .main-icon {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-integrarions .main-icon img {
    width: 80px;
    height: 60px;
}

.main-integrarions .main-icon p {
    margin-top: 20px;
    font-weight: 300;
    color: black;
    font-size: 1rem;
}


.inquiry {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.inquiry section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.inquiry p {
    font-weight: 300;
    font-size: 1.2rem;
}

.inquiry .main-image {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inquiry .main-image i {
    font-size: 5rem;
    margin-bottom: 20px;
    color: maroon;
}

.inquiry .main-image a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.reviews {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.reviews h1 {
    font-size: 1.5rem;
    color: maroon;
}

.reviews p {
    text-transform: capitalize;
    font-weight: 300;
    line-height: 30px;
}

.reviews .main-review {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 10px;
}

.main-review .review {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    border-radius: 20px;
}

.reviews .main-review {
    display: flex;
    flex-wrap: wrap;
}

.main-review .main-message p{
    max-width: 500px;
    margin-top: 10px;
    font-size: .9rem;
    line-height: 20px;
}

.reviews .main-review .top {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
    padding-bottom: 10px;
}

.reviews .main-review .top section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviews .main-review .top section .avatar {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: maroon;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .main-review .bottom {
    display: flex;
    flex-direction: column;
}

.reviews .main-review .bottom .main {
    gap: 10px;
}

.reviews .main-review .main p {
    text-transform: none;
    max-width: 500px;
}

.join-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 200px;
}

.join-us div:first-child{
    display: flex;
    justify-content: start;
    flex: start;
    flex-direction: column;
}

.join-us div:first-child span{
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.8rem;
    color: blueviolet;
    cursor: pointer;
}

.join-us div:first-child h1{
    max-width: 550px;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.join-us div:last-child img{
    width: 200px;
}

@media (max-width: 1100px) {
    .work-flow .content {
        margin-left: 10px;
    }

    .top-content {
        left: 2vh;
    }

    .top-content h1 span:nth-child(1) {
        margin-left: 50px;
    }

    .top-content h1 span:nth-child(2) {
        margin-left: 100px;
    }

    .top-content h1 span:nth-child(3) {
        margin-left: 150px;
    }

    .top-content h1 span:nth-child(4) {
        margin-left: 200px;
    }

    .top-content h2 {
        font-size: 1rem;
        border-bottom: none;
    }

    .main-integrarions {
        width: 100%;
        gap: 30px;
        height: 80%;
    }

    .top-content h1 {
        font-size: 3rem;
    }

    .steps {
        flex-direction: column;
        gap: 20px;
    }

    .integrations .main {
        width: 120px;
    }

    .step:not(.not):after {
        max-width: 0;
        overflow: hidden;
    }

    .inquiry .main-image img {
        width: 100px;
        height: 50px;
    }

    .inquiry section {
        gap: 10px;
        justify-content: center;
    }

    .inquiry {
        height: 70vh;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step {
        height: 300px;
        flex-direction: column-reverse;
    }



    .inquiry .main {
        padding: 20px;
    }

    .inquiry {
        gap: 20px;
    }

    .top-sect img {
        width: 100%;
        height: 100%;
    }
}