@charset "UTF-8";
.software-main {
  overflow: hidden;
  max-width: 1680px;
}
.software-main .sectionOne {
  padding: 150px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.software-main .sectionOne > * {
  width: 50%;
}
.software-main .sectionOne .sub-section-1 {
  padding: 10px 50px;
}
.software-main .sectionOne .sub-section-1 h1 {
  font-size: 3rem;
}
.software-main .sectionOne .sub-section-1 h1 span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(330.34deg, #72e4ff 25.66%, #439fff 72.47%);
  -webkit-background-clip: text;
}
.software-main .sectionOne .sub-section-1 > span {
  font-size: 1.3rem;
}
.software-main .sectionOne .sub-section-2 {
  width: 700px;
  position: relative;
}
.software-main .sectionOne .sub-section-2 > *:first-child {
  margin-bottom: 70px;
}
.software-main .sectionOne .sub-section-2 > *:nth-last-child(2) {
  left: 50px;
  top: 100px;
  position: absolute;
}
.software-main .sectionOne .sub-section-2 > *:last-child {
  color: rgba(128, 128, 128, 0.685);
  display: block;
  padding: 30px;
}
.software-main .sectionTwo {
  display: flex;
  overflow: hidden;
}
.software-main .sectionTwo .sub-section-1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
}
.software-main .sectionTwo .sub-section-1 .c-1 {
  margin-top: 20px;
  font-size: 1.3rem;
  color: gray;
}
.software-main .sectionTwo .sub-section-1 .radio-btn {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 1.2rem;
}
.software-main .sectionTwo .sub-section-1 .radio-btn input {
  display: none;
  accent-color: #8b00f8;
}
.software-main .sectionTwo .sub-section-1 .radio-btn input:checked ~ label {
  color: #8b00f8;
  font-weight: bold;
}
.software-main .sectionTwo .sub-section-1 .radio-btn > div {
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
}
.software-main .sectionTwo .sub-section-2 {
  width: 100%;
  overflow: hidden;
}
.software-main .sectionTwo .sub-section-2 .slide {
  display: flex;
  transition: 0.3s ease;
  width: 500%;
  position: relative;
}
.software-main .sectionTwo .sub-section-2 .slide .data {
  width: 100%;
  display: flex;
  padding: 10px;
}
.software-main .sectionTwo .sub-section-2 .slide .data h1 {
  margin: 20px 0px;
  color: #8b00f8;
}
.software-main .sectionTwo .sub-section-2 .slide .data .content {
  color: rgba(128, 128, 128, 0.753);
}
.software-main .sectionTwo .sub-section-2 .slide .data .title {
  color: gray;
  margin: 20px 0px;
  font-size: 1.3rem;
}
.software-main .sectionTwo .sub-section-2 .slide .data ul {
  padding: 0px;
  counter-reset: custom;
  list-style-type: none;
}
.software-main .sectionTwo .sub-section-2 .slide .data ul li {
  width: 100%;
  display: flex;
  align-items: center;
  color: gray;
  counter-increment: custom;
}
.software-main .sectionTwo .sub-section-2 .slide .data ul li:before {
  content: counters(custom, ".") " ";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: #8b00f8;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.software-main .sectionTwo .sub-section-2 .slide .data img {
  width: 50%;
}
.software-main .sectionThree {
  overflow: hidden;
  padding: 50px 40px;
  color: gray;
}
.software-main .sectionThree h1 {
  margin-top: 50px;
}
.software-main .sectionThree .main-container {
  color: #333333;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  margin-top: 50px;
  gap: 20px 30px;
}
.software-main .sectionThree .main-container .iconMenu {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.software-main .sectionFour {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 20px 30px;
}
.software-main .sectionFour .sub-section-1 {
  display: flex;
}
.software-main .sectionFour .sub-section-1 > * {
  width: 50%;
}
.software-main .sectionFour .sub-section-1 > *:first-child {
  display: flex;
  flex-direction: column;
  color: gray;
  gap: 30px;
}
.software-main .sectionFour .sub-section-1 > *:first-child h2 {
  color: #333333;
  font-size: 3rem;
}
.software-main .sectionFour .sub-section-1 > *:last-child {
  background-color: red;
  display: flex;
  margin: 10px;
}
.software-main .sectionFour .sub-section-2 {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.software-main .sectionFour .sub-section-2 input[type^=checkbox]:checked ~ .show-menu {
  display: flex !important;
}
.software-main .sectionFour .sub-section-2 input[type^=checkbox] {
  display: none;
}
.software-main .sectionFour .sub-section-2 input[type^=checkbox]:checked ~ :last-child ::after {
  content: "Less Integration ▶";
}
.software-main .sectionFour .sub-section-2 > .show-menu {
  overflow: hidden;
  display: none !important;
}
.software-main .sectionFour .sub-section-2 > *:not(:nth-child(2), :last-child) {
  display: flex;
  justify-content: space-evenly;
}
.software-main .sectionFour .sub-section-2 > *:not(:nth-child(2), :last-child) > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: gray;
  text-transform: capitalize;
  font-size: 1.2rem;
  gap: 20px;
  width: 200px;
}
.software-main .sectionFour .sub-section-2 > *:not(:nth-child(2), :last-child) > * img {
  width: 70px;
}
.software-main .sectionFour .sub-section-2 > *:last-child {
  text-align: right;
}
.software-main .sectionFour .sub-section-2 > *:last-child label {
  color: gray;
  position: relative;
}
.software-main .sectionFour .sub-section-2 > *:last-child label::after {
  content: "More Integration";
}

@media (max-width: 960px) {
  .sectionOne .sub-section-1 {
    width: 100%;
  }
  .sectionOne .sub-section-2 {
    display: none;
  }
  .sectionTwo {
    flex-direction: column;
  }
  .sectionTwo .sub-section-1 {
    width: 90% !important;
    font-size: 0.4rem !important;
  }
  .sectionTwo .sub-section-1 > div:last-child {
    flex-direction: row !important;
  }
  .sectionTwo .sub-section-1 label {
    display: none;
  }
  .sectionTwo .sub-section-1 input {
    display: block !important;
  }
  .sectionThree .main-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 540px) {
  .sectionThree .main-container {
    grid-template-columns: 1fr !important;
  }
  .sectionTwo > .sub-section-2 .data {
    background-color: red;
    flex-direction: column;
    gap: 50px;
  }
  .sectionTwo > .sub-section-2 .data > *:last-child {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }
}/*# sourceMappingURL=Software.css.map */