@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  margin-top: 10vh;
  padding: 10px;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, san-sarif;
}

.section-1 {
  display: flex;
  gap: 10px;
  & > * {
    width: 800px;
    padding: 10px;
  }
  .sub-section-1 {
    .gray-text {
      color: gray;
      margin: 20px 0px;
    }
    .items {
      margin: 70px 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      color: gray;
      .item {
        margin: 10px 0px;
        width: calc(50% - 15px);
        display: flex;
        gap: 10px;
        align-items: center;
        .blue {
          color: dodgerblue;
          font-weight: bold;
          margin: 5px;
        }
      }
    }
  }
  .sub-section-2 {
    width: 600px;
    margin: 50px 50px 0px 0px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #88888865;
    & > *:first-child {
      display: flex;
      flex-direction: column;
      gap: 10px;
      *:first-child {
        font-size: 2rem;
        color: #8b00f8;
      }
      *:nth-child(2) {
        color: gray;
      }
    }
    & > *:nth-child(2) {
      color: gray;
      text-align: center;
    }
    & .form-style {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      & > div {
        display: flex;
        gap: 10px;
        & > input {
          outline: none;
          border: none;
          background-color: #f3f5f9;
          width: 100%;
          padding: 10px;
          border-radius: 20px;
          &:focus {
            outline: 3px solid #8d00f836;
          }
        }
      }
    }
  }
}

button.purple {
  padding: 20px;
  border: 1px solid #8b00f8;
  font-size: 1.2rem;
  color: #8b00f8;
  margin: 20px 30px;
  background-color: white;
  border-radius: 10px;
  transition: 0.1s ease-in;
  &:hover {
    background-color: #8b00f8;
    outline: 3px solid #8d00f836;
    color: white;
  }
}

button.blue {
  padding: 20px;
  border: 1px solid dodgerblue;
  font-size: 1.2rem;
  color: dodgerblue;
  margin: 20px 30px;
  background-color: white;
  border-radius: 10px;
  transition: 0.1s ease-in;
  &:hover {
    background-color: dodgerblue;
    outline: 3px solid rgba(30, 143, 255, 0.479);
    color: white;
  }
}
.section-3 {
  margin: 40px 10px;
  h1 {
    font-size: 3rem;
    color: #8b00f8;
    margin: 40px 20px;
  }
  .accordion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .accord {
      width: calc(50% - 30px);
      border-radius: 10px;
      & :checked ~ label {
        border-radius: 10px 10px 0px 0px;
        background-color: #8d00f836;
        color: #8b00f8;
        outline: 3px solid #8d00f852;
        &:after {
          transform: rotate(180deg) scale(2.5, 1);
        }
      }
    }
    .accord label {
      padding: 20px;
      display: block;
      box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.432);
      font-weight: 400;
      cursor: pointer;
      position: relative;
      &:after {
        font-weight: bold;
        position: absolute;
        height: min-content;
        transition: 0.1s ease;
        content: "á¯";
        transform: scale(2.5, 1);
        font-size: 10px;
        z-index: 2;
        right: 30px;
      }
    }
    .accord input {
      display: none;
    }

    .accord .hide {
      padding: 20px;
      display: none;
      max-height: 0;
      overflow: hidden;
      box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.432);
      border-radius: 0px 0px 10px 10px;
      transition: all 0.35s;
      line-height: 1.5;
      color: rgb(49, 49, 49);
    }
    .accord > input:checked ~ div {
      display: block;
      max-height: min-content;
    }
  }
}

.section-2 {
  margin: 50px 40px 20px;
}

@media (max-width: 960px) {
  .section-1 {
    flex-direction: column;
    .sub-section-1,
    .sub-section-2 {
      width: calc(100% - 40px);
    }
  }
}
@media (max-width: 540px) {
  .section-1 .item {
    width: 100% !important;
  }
  .section-3 .accord {
    width: 100% !important;
  }
}
