.swiper {
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: maroon;
}


.right-swiper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-swiper .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
    gap: 10px;
}

.right-swiper .content h3{
    font-weight: 300;
}

.right-swiper .feature-step{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.right-swiper section img{
    width: 300px;
    height: 200px;
}

.feature-step span{
    width: 50px;
    height: 50px;
    background: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
}

.feature-step h5{
    font-size: 1.2rem;
    font-weight: 300;
}

.right-swiper .content h1{
    font-weight: 900;
    text-align: center;
}

.right-swiper .content p{
    text-align: left;
}

.swiper-intro h3{
    font-size: 2.5rem;
    font-weight: 900;
}

.swiper-intro i{
    font-size: 5rem;
    margin-top: 50px;
    animation: animate 1s infinite linear;
}

@keyframes animate {
    25%{transform: translateX(-20px);}
    75%{transform: translateX(20px);}
}